<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41012852452-2u9dbdmica97nj7hev0fsspjf8sesqnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41012852452-2u9dbdmica97nj7hev0fsspjf8sesqnj</string>
	<key>API_KEY</key>
	<string>AIzaSyDEw0BpG1bRZlCet16dKFr6IZq-faPxb48</string>
	<key>GCM_SENDER_ID</key>
	<string>41012852452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msantos.InstagramViewCode</string>
	<key>PROJECT_ID</key>
	<string>instafirestorm-73fa6</string>
	<key>STORAGE_BUCKET</key>
	<string>instafirestorm-73fa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41012852452:ios:141daf44b558a745a89ef1</string>
</dict>
</plist>